.seleccion{
    width: 100%;
    height: 240px;
    overflow: hidden;
    color: white;
    position: relative;
    display: inline-block;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    div {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        h1 {
            font-family: 'Libre Baskerville', serif;
            padding-left: 10px;
            font-size: 3rem;
        }
        p {
            padding-left: 10px;
            font-size: 1.5rem;
        }
    }
}

.modal-content {
    background-color: $hpdorado;
    h2 {
        font-family: 'Libre Baskerville', serif;
        color: white;
    }
}

.pasos{
    width: 100%;
    background-color: $hpdarker;
    color: $hpdorado;
    font-weight: 100;
    padding: 10px;
    border-radius: 0.5rem;
    h3 {
        font-family: 'Crimson Text', serif;
        color: rgba(245, 245, 245, 0.76);
        margin: 10px;
    }
    p {
        margin: 10px;
    }
}