@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&family=Libre+Baskerville&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:wght@200&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Nunito Sans", sans-serif;
    box-sizing: none;
}

p {
    margin: 0px;
}

.resalt{
    color: rgb(169,135,84);
    font-family: 'Libre Baskerville', serif;
}

header{
    background-color: rgb(6,11,21);
    padding: 20px 0px 20px 0px;
    margin-bottom: 10px;
}

.logo{
    overflow: hidden;
    text-align: center;
}

.logo img{
    height: 80px;    
} 

img#diagon{
    transform: translateX(-5px);
}

body {
    background-color: black;
}

.seleccion{
    width: 100%;
    height: 240px;
    overflow: hidden;
    color: white;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.seleccion div {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 40px 0px 40px 0px;
}

.seleccion img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seleccion h2 {
    font-family: 'Libre Baskerville', serif;
    padding-left: 10px;
    font-size: 3rem;
}

.seleccion p {
    padding-left: 10px;
    font-size: 1.5rem;
}


.material{
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: rgb(0,2,10);
}

.subLogo {
    display: flex;
    border-bottom: 1px solid rgb(169,135,84);
    border-top: 1px solid rgb(169,135,84);
    flex-direction: row;
    align-items: center;
    background-color: rgb(6,11,21);
    padding: 10px;
    margin-bottom: 10px;
}

.subLogo img {
    width: 75px;
    margin-right: 10px;
}

.subLogo h3 {
    font-family: 'Libre Baskerville', serif;
    color:white;
    margin: 0px;
}

.seleccionar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select {
    background:rgba(32, 140, 106, 0.165);
    font-size: 15px;
    width: 90%;
    height: 30px;
    border-radius: 0.5rem;
    padding: 5px;
    margin: 10px;
 }

.contenedor{
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta{
    box-shadow: 0 0 5px 1px #484e4a69;
    width: 275px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(169,135,84);
    border-radius: 1rem;
    padding: 10px 10px 0px 10px;
}

.tarjeta h4{
    font-family: 'Crimson Text', serif;
    font-size: 22px;
    color: rgb(169,135,84);
    margin-bottom: 5px;
}

.costo {
    color: rgb(169,135,84);
}

.componente{
    width: 150px;
    height: 150px;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 10px;
}

.componente img{
    width: 100%;
    height: 100%;    
    object-fit: cover;
    object-position: center;
}

.desc{
    border-radius: 0.5rem;
}

.descripcion{
    color: white;
    text-align: center;
    font-size: 12.5px;
    font-weight: lighter;
    padding: 5px 5px 10px 5px;
}

.wandValue {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(41, 16, 36, 0.555);
    gap: 5px;
    padding: 20px 0px;
    margin-bottom: 20px;
}

button {
    font-family:'Crimson Text', serif;
    font-size: 15px;
    background-color: rgb(169,135,84);
    color: white;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 5px 1px rgb(41,16,36);
    padding: 10px;
}

button.quitar {
    box-shadow: none;
    padding: 0px;
    width: 30px;
    height: 30px;
}

footer{
    background-color: rgb(6,11,21);
    padding: 20px 10px 25px 10px;
}

footer p{
    color: rgb(169,135,84);
    font-weight: bold;
    margin-top: 5px;
}

.inn {
    display: none;
}

.inn:checked + .tarjeta {
    box-shadow: 0 0 8px 1px #484e4a;
    background-color: rgb(6,11,21);
}

.inn:checked + .tarjeta h4, .inn:checked + .tarjeta p.costo {
    color: white;
}

.tarjeta:hover, button:hover{
    cursor: pointer;
}

.finVarita{
    text-align: center;
}

.alertas {
    display: flex;
    flex-direction: row;
    color: rgb(169,135,84);
    border-radius: 0.5rem;
    border: 1px solid rgb(169,135,84);
    padding: 10px;
}

.ocultar{
    visibility: hidden;
}

.canasta {
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.carritos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    width: 98%;
    background-color: black;
    color: white;
    margin: 10px 0;
}

th {
    background-color: rgb(6,11,21);
    text-align: center;
    padding: 5px;
}


td {
    background-color: white;
    color: black;
    padding: 5px 2px;
}

td.del{
    text-align: center;
}


@media (min-width: 768px){
    .contenedor{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}